{% load wagtailuserbar wagtailcore_tags %}
{% load navigation_tags wagtailadmin_tags %}
{% for post in blogpages %}
    {% with post=post.specific %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        <ul>
            {% for subpost in post.get_children.live|dictsort:'id' %}
                {% with subpost=subpost.specific %}
                    {% if subpost.type == 'blog' %}
                    
                    <li><a href="{% pageurl subpost %}">{{ subpost.title }}</a></li>
                    
                    {% endif %}
                {% endwith %} 
            {% endfor %}
            </ul>
    {% endwith %}
{% endfor %}