{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <p>{{ page.title }}</p>

    <form action=''>
        {% for answer in page.answers %}
            <input type='checkbox' id='answer1' >
            <label for='answer1'>{{answer.answer_text}}</label><br>
        {% endfor %}
        <input type='submit' value='Проверить' class='btn btn-orange'></input>
    </form>

    <p><a href="{{ page.get_parent.url }}">Вернуться к разделу</a></p>

{% endblock %}



