{% load wagtailuserbar wagtailcore_tags %}
{% load navigation_tags wagtailadmin_tags %}
<p><a href="{{ page.get_parent.url }}">Вернуться к главе</a></p>
    <div>
        {% include "includes/pagination.html"  %}
    </div>
    
    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in posts %}
        {% with post=post.specific %}
            {% if post.type == 'blog' %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                <p>{{ post.intro }}</p>
                {{ post.body|richtext }}
            {% endif %}
            
            {% if post.type == 'test' %}

                <p>{{ post.title }}</p>
                <form action=''> 
                <input type='checkbox' id='answer1' >
                <label for='answer1'>{{post.answer1}}</label><br>
                <input type='checkbox' id='answer2' >
                <label for='answer2'>{{post.answer2}}</label><br>
                <input type='checkbox' id='answer3' >
                <label for='answer3'>{{post.answer3}}</label><br>
                <input type='checkbox' id='answer4' >
                <label for='answer4'>{{post.answer4}}</label><br>
                <input type='submit' value='Проверить' class='btn btn-orange'></input>
                </form>

            {% endif %}

             {% if post.type == 'question' %}

             <p>{{ post.title }}</p>

             <form action=''>
                 {% for answer in post.answers %}
                     <input type='checkbox' id='answer1' >
                     <label for='answer1'>{{answer.answer_text}}</label><br>
                 {% endfor %}
                 <!-- <button type='submit'  class='btn btn-orange'>ОК</button> -->
                 <input type='submit' value='Проверить' class='btn btn-orange'></input>
             </form>

            {% endif %}

            {% if post.type == 'index' %}

                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            
                {% for subpost in post.get_children.live|dictsort:'title' %}
                    {% with subpost=subpost.specific %}
                        {% if subpost.type == 'blog' %}
                        <p><a href="{% pageurl post %}">{{ subpost.title }}</a></p>
                        {% endif %}
                    {% endwith %}
            {% endfor %}
            {% endif %}
        
        {% endwith %}
    {% endfor %}